:root {
  --header-footer-background-color: #1c1c1c;
  --emoticon-hover-background-color: #2c2c2c;
  --emoticon-background-color: #1c1c1c;
  --body-background-color: #141414;
  --body-color: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: #800080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
